.dark-theme {
  background-color: $darkThemeBg;
  color: $whiteColor;

  &__input {
    background-color: $darkThemeInput;
    border: 1px solid $whiteColor;
    color: $whiteColor;
  }

  &__input-button {
    filter: brightness(0) invert(1);
  }
}

.hide {
  display: none;
}
