$mainFont: 'Kanit', sans-serif;
$secondaryFont: 'Inter', sans-serif;

$mainPurpleColor: #6c63ff;
$whiteColor: white;
$bgColor: #f3f6fd;
$hoverAndFocus: #534cc2;
$darkThemeBg: #343434;
$darkThemeInput: #464646;

$container: 750px;
$listContainer: 600px;
