* {
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  background-color: #f3f6fd;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 750px;
}

.add-task {
  position: absolute;
  bottom: -84px;
  right: 0;
}

.add-task__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  transition: background-color 0.3s ease;
}

.add-task__button:focus,
.add-task__button:hover {
  background-color: #534cc2;
  outline: 1px solid rgba(108, 99, 255, 0.4);
}

.title {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
}

.interaction {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
}
.interaction__input {
  position: relative;
}
.input {
  width: 595px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #6c63ff;
  border: 1px solid #6c63ff;
}

.input:focus,
.input:hover {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.input__button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.interaction__buttons {
  display: flex;
  gap: 15px;
}
.interaction__select,
.interaction__theme {
  border-radius: 4px;
  padding: 5px;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: white;
  transition: background-color 0.3s ease;
}

.interaction__select:focus,
.interaction__select:hover,
.interaction__theme:hover,
.interaction__theme:focus {
  background-color: #534cc2;
  outline: 1px solid rgba(108, 99, 255, 0.4);
}

.interaction__theme {
  padding: 6px;
}

.empty {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item::after {
  position: absolute;
  bottom: -10px;
  content: '';
  height: 1px;
  border-bottom: 1px solid #6c63ff;
  width: 100%;
}

.item__text {
  margin-left: 10px;
  width: 500px;
  font-size: 20px;
}
.item__change {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;
}

.item__change button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.item__change img:first-child:hover,
.item__change img:first-child:focus {
  filter: brightness(70%) contrast(100%);
}

.item__change img:last-child:hover,
.item__change img:last-child:focus {
  filter: brightness(70%) contrast(100%);
}

.item__checkbox {
  opacity: 0;
  height: 26px;
  width: 26px;
}

.item__fake-checkmark {
  position: absolute;
  top: 8px;
  height: 26px;
  width: 26px;
  border: 2px solid #6c63ff;
  border-radius: 4px;
  z-index: 1;
  transition: background 0.1s linear;
}

.item__fake-checkmark::before {
  content: '';
  display: block;
  width: 16px;
  height: 20px;
  background: url(../images/tick.svg);
  background-size: 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-repeat: no-repeat;
}

.item__checkbox:checked + .item__fake-checkmark {
  background-color: #6c63ff;
}

.item__checkbox:checked + .item__fake-checkmark::before {
  opacity: 1;
}

.form {
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 500px;
  height: 289px;
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  display: none;
  z-index: 2;
}

.form h2 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  color: black;
}

.form__new-note {
  width: 440px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  margin-bottom: 80px;
}

.form__new-note:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

.button {
  display: flex;
  justify-content: space-between;
}
.button__cancel,
.button__apply {
  font-family: 'Kanit', sans-serif;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  background: white;
  width: 110px;
  height: 38px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button__cancel:hover,
.button__apply:hover {
  background-color: #6c63ff;
  color: white;
}

.dark-theme {
  background-color: #343434;
  color: white;
}

.dark-theme__input {
  background-color: #464646;
  border: 1px solid #ffffff;
  color: white;
}

.dark-theme__input-button {
  filter: brightness(0) invert(1);
}

.hide {
  display: none;
}

.item__text.marked {
  text-decoration: line-through;
}
